* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fontes usadas: Roboto e Montserrat  */
body {
  font-family: "Montserrat";
  background-color: #e5e5e5;
}

header {
  background-color: #222;
  padding: 15px 0;
}

header nav li a {
  color: #b2b2b2;
  text-decoration: none;
  text-transform: uppercase;
}

header nav li {
  display: inline;
  margin-left: 16px 0;
  font-size: 18px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.b-menu:hover {
  color: #fff;
  text-shadow: 0px 5px 5px #b2b2b2;
}

.b-menu {
  padding: 0 5px;
}

.front-cover {
  max-width: 600px;
  width: 100%;
  border-radius: 15px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  padding: 25px 0;
  color: #222;
}

section p {
  margin-bottom: 10px;
}

section h2 {
  margin-bottom: 15px;
}

.buy-game {
  display: flex;
  justify-content: space-between;
}
